python-openstackclient
# https://github.com/juju/python-libjuju/issues/1184 is not backport to older libjuju release (e.g juju 2.x)
websockets<14.0
git+https://github.com/openstack-charmers/zaza.git@master#egg=zaza
